@charset "ISO-8859-1";

body {
	background-color: lightblue;
	color: navy;
}
div {
	padding: 20px;
}
.error {
	color: red;
	font-family: fantasy;
}
table {
    text-align: center;
}
td, th {
    padding-left: 20px;
    padding-right: 20px;
}
.employeData {
    margin: 50px;
}
.calendrier {
    width: 40%;
    float: left;
    margin: 50px;
}
.notif {
    width: 40%;
    float: left;
    margin: 50px;
}