<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
<!------ Include the above in your HEAD tag ---------->
<head>
<meta charset="UTF-8" />
<title>Calendrier</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<div class="jumbotron" >
			<table border="1" class="calendrier">
				<tr><td colspan="7">gros calendrier sa mère</td></tr>
				<tr><td>lundi</td><td>mardi</td><td>mercredi</td><td>jeudi</td><td>vendredi</td><td>samedi</td><td>dimanche</td></tr>
				<tr><td>lundi</td><td>mardi</td><td>mercredi</td><td>jeudi</td><td>vendredi</td><td>samedi</td><td>dimanche</td></tr>
				<tr><td>lundi</td><td>mardi</td><td>mercredi</td><td>jeudi</td><td>vendredi</td><td>samedi</td><td>dimanche</td></tr>
				<tr><td>lundi</td><td>mardi</td><td>mercredi</td><td>jeudi</td><td>vendredi</td><td>samedi</td><td>dimanche</td></tr>
				<tr><td>lundi</td><td>mardi</td><td>mercredi</td><td>jeudi</td><td>vendredi</td><td>samedi</td><td>dimanche</td></tr>			
			</table>
		</div>
	</div>
</body>
</html>
