<!DOCTYPE html>
<html lang="en">
<head>
<title>homeEmployee.html</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
	<!-- 	<div th:replace="fragments/header :: header"></div> -->
	<div class="container">
		<div id="info">
			<div class="table-wrapper">
				<div class="table-title">
					<div class="row">
						<div class="col-sm-6">
							<h2>Données de l'Employé</h2>
						</div>
						<div class="col-sm-6">
							<form th:action="@{/destroy}" method="post">
								<input type="submit" value="Destroy Session" />
							</form>
						</div>
					</div>
				</div>
				<table class="table table-striped table-hover">
					<thead>
						<tr>
							<th>ID</th>
							<th>Prenom</th>
							<th>Nom</th>
							<th>Grade</th>
							<th>Adresse Mail</th>
							<th>N° de Téléphone</th>
							<th>Jours de Congés Restants</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td th:utext="${emp.idEmploye}">...</td>
							<td th:utext="${emp.prenom}">...</td>
							<td th:utext="${emp.nom}">...</td>
							<td th:utext="${emp.grade}">...</td>
							<td th:utext="${emp.adresseMail}">...</td>
							<td th:utext="${emp.numeroTelephone}">...</td>
							<td th:utext="${emp.joursCongeRestant}">...</td>
						</tr>
				</table>
			</div>

			<div id="content" class="row">
				<div class="col-sm-6">
					<div class="jumbotron">
						<h2>Demande de Congés</h2>
						<br>
						<p>
							Mes demandes de congé : Validée en <em class="greentext">Vert</em>,
							Refusée en <em class="redtext">Rouge</em>, En Cours de Traitement
							en <em class="yellowtext">Jaune</em>
						</p>
						<ul th:each="congeAccepte : ${congesAcceptes}" class="list-group">
							<li th:text="${congeAccepte}"
								class="list-group-item list-group-item-success">Demande de
								congé Validé</li>
						</ul>
						<ul th:each="congeRefuse : ${congesRefuses}" class="list-group">
							<li th:text="${congeRefuse}"
								class="list-group-item list-group-item-danger">Demande de
								congé Refusé</li>
						</ul>
						<ul th:each="congeEnCours : ${congesEnCours}" class="list-group">
							<li th:text="${congeEnCours}"
								class="list-group-item list-group-item-warning">Demande de
								congé En Cours</li>
						</ul>
						<div>
							<form th:action="@{/employe}">
								<input type="submit" value="Faire une demande de congés" />
							</form>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="jumbotron">
						<h2>Notification</h2>
						<br>
						<p>Contre-Propositions de l'algorithme "AlgoDePropo"
							copyright Cédric 2019, pour résoudre les conflits de demande de
							congés.</p>
						<ul th:each="proposition : ${propositions}" class="list-group">
							<li class="list-group-item list-group-item-info">Contre-Proposition
								de demande de Congés
								<table>
									<tr>
										<td><notif th:text="${proposition}">Demande de
											congés en cours</notif></td>
										<td></td>
										<td>
											<form th:action="@{/accepterProposition}" method="post">
												<input type="hidden" th:value="${proposition.idConge}" name="propId" />
												<button type="submit" class="btn btn-success">Accepter</button>
											</form>
										</td>
										<td>
											<form th:action="@{/refuserProposition}" method="post">
												<input type="hidden" th:value="${proposition.idConge}" name="propId" />
												<button type="submit" class="btn btn-danger">Refuser</button>
											</form>
										</td>
									</tr>
								</table>
							</li>
						</ul>
					</div>
				</div>
			</div>
</body>
</html>