<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Thymeleaf et SpringSession Login</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script
	src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
	<div class="row">
		<div class="col-sm-4"></div>
		<div class="col-sm-4" id="formContent">
			<form th:action="@{/connexion}" method="post" class="jumbotron">
				<img src="../static/images/logo.png" th:src="@{/images/logo.png}" />
				<span th:if="${loginSession != 'personne'}">
				<h4>connecté en tant que :
						<em th:text="${loginSession}">...</em></h4></span>
				<table>
					<tr>
						<td><input type="text" id="login" name="login"
							placeholder="login"></input></td>
					</tr>
					<tr>
						<td><input type="password" id="password" name="motDePasse"
							placeholder="mot de passe"></input></td>
					</tr>
					<tr>
						<td colspan="2"><input type="submit" value="Connectez-vous" /></td>
					</tr>
				</table>
			</form>
			<tr>
			<span th:if="${loginSession != 'personne'}">
				<form th:action="@{/destroy}" method="post">
					<input type="submit" value="Se Déconnecter" /></span>
				</form>
			</tr>
			<div>
				<p class="test" th:text="${testAttribute}">...</p>
				<p class="error" th:text="${messageErreur}">...</p>
			</div>
		</div>
		<div class="col-sm-4"></div>
	</div>
</body>
</html>