<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Thymeleaf et SpringSession Login</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
	<div>
		<h3>connecté en tant que :</h3>
		<h3 th:text="${nomSession}">...</h3>
	</div>
	<div>

		<form th:action="@{/connexion}" method="post">
			<table>
				<tr>
					<th>Login</th>
					<td><input type="text" name="login"></input></td>
				</tr>
				<tr>
					<th>Mot de Passe</th>
					<td><input type="text" name="motDePasse"></input></td>
				</tr>
				<tr>
					<td colspan="2"><input type="submit" value="Connectez-vous" /></td>
				</tr>
			</table>
		</form>

	</div>
	<div>
		<p class="test" th:text="${testAttribute}">...</p>
		<p class="error" th:text="${messageErreur}">...</p>
		<hr>
		<form th:action="@{/destroy}" method="post">
			<input type="submit" value="Destroy Session" />
		</form>
	</div>
</body>
</html>